[submodule "backend"]
	path = backend
	url = https://github.com/KeenGWatanabe/tf-backend
[submodule "eks"]
	path = eks
	url = https://github.com/KeenGWatanabe/tf-eks2
[submodule "app"]
	path = app
	url = https://github.com/KeenGWatanabe/tf-secretsAPP
[submodule "taskmgr"]
	path = taskmgr
	url = https://github.com/KeenGWatanabe/taskmgr
[submodule "ecr"]
	path = ecr
	url = https://github.com/KeenGWatanabe/tf-ecr
